@charset "utf-8";
/* CSS Document */


a[href*="http://www.itavenues.co.uk"]:not(.no-hover):hover:after {
	content:"ITA* is the dedicated sales partner for Chester Boyd";
	position:absolute;
	z-index:5555;
	background:#e31936;
	color:#fff;
	margin-top:-30px;
	margin-left:10px;
	width:auto;
	max-width:200px;
	padding:5px;
	box-shadow:-2px 2px 2px 0px #666;
}

@media screen and (max-width:600px) {
	
	
	a[href*="http://www.itavenues.co.uk"]:hover:after {
		content:"";
		display:none;
	}
	
}